<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.MySQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      com.mysql.jdbc.Driver
   </property>
   <property name="hibernate.hbm2ddl.auto">
      update
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.url">
      jdbc:mysql://localhost/discussionforum
   </property>
   <property name="hibernate.connection.username">
      root
   </property>
   <property name="hibernate.connection.password"></property>

   <!-- List of XML mapping files -->
   <mapping resource="ro.pub.cs.paj.discussionforum.Client"/>
<mapping resource="ro.pub.cs.paj.discussionforum.Post"/>
<mapping resource="ro.pub.cs.paj.discussionforum.Topic"/>
<mapping resource="ro.pub.cs.paj.discussionforum.Comment"/>

</session-factory>
</hibernate-configuration>
